<div id="title-background">
  <div id="title">
    <h1>The Tech Blog</h1>
  </div>
</div>

<form id="login-form">
  <div class="card">
    <div class="card-divider">
      Login
    </div>
    <div class="card-section">
      <input type="email" name="email" id="email" placeholder="E-mail" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <button class="submit success button">Login</button>
      <a href="/signup">Sign up</a>
    </div>
  </div>
</form>

<script src="/js/login.js" defer></script>