<div id="title-background">
  <div id="title">
    <h1>The Tech Blog</h1>
  </div>
</div>

<form id="signup-form">
  <div class="card">
    <div class="card-divider">
      Sign Up
    </div>
    <div class="card-section">
      <input type="text" name="username" id="username" placeholder="Username" />
      <input type="email" name="email" id="email" placeholder="E-mail" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <button class="submit success button">Sign Up</button>
    </div>
  </div>
</form>

<script src="/js/signup.js" defer></script>