body {
  background: rgb(116, 116, 119);
  background: linear-gradient(
    0deg,
    rgb(118, 118, 119) 0%,
    rgb(250, 249, 249) 72%,
    rgb(247, 244, 244) 100%
  );
}

header {
  background: black;
}

/* .hide {
  display: none;
} */

.welcome {
  text-align: center;
  color: black;
  text-shadow: rgba(255, 255, 255, 0.54) 10px 10px 8px;
}

.menu {
  color: white;
}

.delete {
  color: red;
  background: black;
  padding: 5px;
  border-radius: 10px;
  margin: 0;
}

.update {
  color: white;
  background: green;
  padding: 5px;
  border-radius: 10px;
  margin: 0;
}

.card {
  width: 75%;
  margin-left: 12.5%;
}

.card-divider {
  display: flex;
  justify-content: space-between;
  background: darkgray;
}

.card-section {
  background: lightgray;
}

.card-title {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.created {
  font-size: 0.8rem;
}

.submit {
  border-radius: 10px;
  width: 100%;
}

.comment {
  border: 1px solid black;
}

.bottom {
  justify-content: center;
  display: flex;
  width: 100%;
}

#title-background {
  width: 100%;
  position: relative;
  background: black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#title {
  position: relative;
  width: fit-content;
  color: white;
  background: lightblue;
  padding: 0 10px 0 10px;
  margin-left: 1%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
    rgba(255, 255, 255, 0.54) 10px 10px 8px;
}

#newpost,
#newcomment {
  width: fit-content;
}
